@model CosmeticShop.Models.Products.ViewModels.ProductListViewModel

@{
    ViewData["Title"] = "Products";
}

<table class="table">
    <tr>
        <th>
            <form method="get">
                <div class="form-inline form-group">
                    
                    <label class="control-label">Категории: </label>
                    <select name="categoryId" asp-items="Model.Categories" class="form-control"></select>

                    <input type="submit" value="Фильтр" class="btn btn-default" />
                </div>
            </form>
        </th>
    </tr>
    @foreach (var container in Model.Products)
    {
        @* <tr><td>@u.Name</td><td>@u.Age</td><td>@u.Company.Name</td></tr> *@
        <tr>
            <td>
                @if (container.Pictures != null && container.Pictures.Count() > 0)
                {
                    @if (container.Pictures.FirstOrDefault().ByteImage != null)
                    {
                        @Html.Raw("<img style='width:250px; height:250px;' src=\"data:image/jpeg;base64,"
            + Convert.ToBase64String(container.Pictures.FirstOrDefault().ByteImage) + "\" />")
                    }
                }

                @container.ProductName
                @container.Cost
                @container.ProductCategory.Name</td>
        </tr>
    }
</table>